.footer {
    padding: 40px;
    background-color: var(--color--CHARCOAL-800);
    color: white;
    letter-spacing: 1px;
}

.footer__content {
    width: 80%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__heading {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.footer__value {
    margin-bottom: 10px;
    color: var(--color--CHARCOAL-200);
}

.footer__copyright {
    width: 100%;
    border-top: solid 1px var(--color--CHARCOAL-500);
    
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.footer__copyright--right--light {
    color: var(--color--CHARCOAL-200);
    font-size: 1rem;
}

.footer__copyright--left > *{
    margin-left: 20px;
    font-size: 1.3rem;
}