.posts {
    max-width: 95%;
    margin: 120px auto;
    padding: 0 15px;
}

.posts__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color--GREY-400);
    padding-bottom: 20px;
    margin: 20px 0;
}

.posts__title h3 {
    font-size: 2.3rem;
}

.posts__title a {
    font-weight: 700;
    font-size: 1rem;
    color: var(--color--BLUE-600);
    text-decoration: none;
    transition: all 0.25s ease-in-out;  
}

.posts__title a::after{
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    content: "";
    display: inline-block;
    margin-left: 0.3em;
    position: relative;
    pointer-events: none;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    transition: all 0.15s ease 0s;
    vertical-align: middle;
}

.posts__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 60px;
}