.write {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    min-height: calc(100vh - 280px);
    width: 60%;
}

.write__form {
    width: 60%;
    font-size: 20px;
}

.write__title, .write__text {
    border: none;
    margin: 20px;
    padding-left: 10px;
    width: 100%;
    color: var(--color--CHARCOAL-700);
    outline: none;
    opacity: 0.7;
}

.write__title {
    font-size: 2rem;
    font-weight: bold;
}

.write__text {
    font-size: 1.5rem;
    color: var(--color--CHARCOAL-700);
    border-style: none;
    max-height: 200px;
}

.write__title:focus, .write__text:focus {
    border-left: solid 2px var(--color--GREY-800);
    opacity: 1;
}

.write__title:focus::placeholder, .write__text:focus::placeholder {
    color: transparent;
}

.write__button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color--GREEN-600);
    border: none;
    color: white;
    cursor: pointer;
}

.write__publish {
    position: absolute;
    top: 20px;
    right: 80px;
}

.write__transform {
    align-self: flex-start;
}

.write__transform button {
    margin-left: 20px;
}

.write__button--upper {
    text-transform: uppercase;
    background-color: var(--color--BLUE-700) !important;
}

.write__button--lower {
    text-transform: lowercase;
    background-color: var(--color--BLUE-700) !important;
}

.write__publish:hover {
    background-color: var(--color--GREEN-700);
}

.write__info {
    margin: 20px 0 20px 20px;
    font-size: 1.3rem;
}